arial{
  font-family:arial;
}
times-new-roman{
  font-family:times new roman;
}
calibri{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
helvetica{
  font-family:helvetica;
}
courier{
  font-family:courier;
}
palatino{
  font-family:palatino;
}
garamond{
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
}
bookman{
  font-family:bookman, Bookman Old Style;
}
avant-garde{
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

