<li class="separator acl-write"></li>
<div>
<li class="acl-write font-family-icon ep_font_family">
  <a title="Font family">
    <span class="buttonicon"></span>
  </a>
</li>

<li id="font-family" class="acl-write" style="display:none;">
    <select class="family-selection">
        <option value="dummy" selected data-l10n-id="ep_font_family.family">Font</option>
    </select>
</li>
</div>

<style>
.ep_font_family {
  font-family:font-awesome;
}
.ep_font_family > a > .buttonicon:before{
  content:"\e81b";
  top: 2px !important;
}
.family-selection{
  margin-left:-3px;
  border-radius: 0 3px 3px 0 !important;
}
</style>
